<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do Tracker Edit</title>
    <!-- Bootstrap CSS latest version-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="d-inline-block">
            <h1>Edit Task</h1>
        </div>
        <div class="d-inline-block float-right">
            <a href="/todotracker/" class="btn btn-primary">Back</a>
        </div>


    	<!-- form for user input -->
		<form>
		    To Do <input type="text" class="form-control" id="ToDo" placeholder="Beispielseite mit dem Bootstrap Framework anlegen"><br>
		    Deadline <input type="text" class="form-control" id="Deadline" placeholder="25. April 2019"><br>
		    Finished <input type="text" class="form-control" id="Finished" placeholder="0 %"><br><br>
		    <input type="button" class="btn btn-primary" value="Submit">
		 </form>

    </div>
</body>
</html>
