<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do Tracker Impressum</title>
    <!-- Bootstrap CSS latest version-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
         <!-- header -->
        <div class="d-inline-block">
            <h1>Impressum</h1>
        </div>
        <div class="d-inline-block float-right">
            <a href="/todotracker/" class="btn btn-primary">Back</a><br><br><br>
        </div>

        <div class="row">
        	<div class="col">
				<address>
				  <strong>Lennart Friedrich</strong><br>
				  1234 Example Street<br>
				  Antartica, Example 0987<br>
				  Phone: (123) 456-7890
				</address>

				<address>
				  <a href="mailto:#">exam.ple@example.com</a>
				</address>
			</div>
			<div class="col">
				<address>
				  <strong>Sophia Meywirth</strong><br>
				  Spiegelweg 2<br>
				  14057 Berlin<br>
				  Phone: (123) 456-7890
				</address>

				<address>
				  <a href="mailto:sophia@meywirth.de">sophia@meywirth.de</a>
				</address>
			</div>
		</div>

     </div>
</body>
